<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giới thiệu</title>
</head>
<body>
    <div>
        <h1 th:text="${thongtin.ten}"></h1>
        <p>Tuổi: <span th:text="${thongtin.tuoi}"></span></p>
        <p>MSV: <span th:text="${thongtin.maSV}"></span></p>
        <p>Lớp: <span th:text="${thongtin.lop}"></span></p>
        <p>Email: <span th:text="${thongtin.email}"></span></p>
        <p>Địa chỉ: <span th:text="${thongtin.diaChi}"></span></p>
        <p>Tình trạng mối quan hệ: <span th:text="${thongtin.tinhTrangMQH}"></span></p>
        <p>Sở thích: <span th:text="${thongtin.soThich}"></span></p>
    </div>
</body>
</html>